<h1>Post Here</h1>

<%= simple_form_for @post do |f| %>
  <%= f.input :title, input_html: { class: 'special' } %><br>
  <%= f.input :body, input_html: { maxlength: 20 } %><br>
  <%= f.button :submit %>
<% end %>

<!-- <%= simple_form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.input_field :body %><br>
  <%= f.hint 'No special characters, please!' %>
  <%= f.error :body, id: 'user_name_error' %>
  <%= f.full_error :token %>
  <%= f.submit 'Save' %>
<% end %>

<%= simple_form_for @post do |f| %>
  <%= f.input :title %><br>
  <%= f.input :body %><br>
  <%= f.button :submit %>
<% end %>


 <%= form_for @post do |f| %>
	<%= f.label :title %><br>
	<%= f.text_field :title %><br>
	<%= f.label :body %><br>
	<%= f.text_area :body %><br>
	<%= f.submit "Submit" %>
	<% end %> -- >